@import "tailwindcss";

@theme inline {
  --color-primary: #06b6d4;
  --color-primary-dark: #0891b2;
  --color-accent: #ec4899;
  --color-accent-dark: #be185d;
  --color-background: #000000;
  --color-background-secondary: #0f172a;
  --color-foreground: #ffffff;
  --color-foreground-secondary: #e2e8f0;
  --radius: 0.5rem;
  
  --font-sans: 'System UI', sans-serif;
}

* {
  @apply transition-colors duration-200;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
}
